<!DOCTYPE html>
<html>
  <head>
    <%-include('../common/head_html.html') %>
  </head>
  <body>
    <%-include('../common/nav.html') %>
    <br />

    <div class="container my-3">
      <div class="d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button
            id="sell_deleteButton"
            type="button"
            class="btn btn-outline-primary"
          >
            삭제
          </button>
        </div>
      </div>
      <h2 id="sell_stuff" class="border-bottom py-2">물건명 :</h2>
      <div class="d-flex justify-content-end">
        <p id="sell_author" class="mx-2">작성자 :</p>
      </div>
      <div class="d-flex justify-content-end">
        <p id="sell_mobile">연락처 :</p>
      </div>
      <div class="d-flex justify-content-end">
        <p id="sell_createdAt">작성날짜 :</p>
      </div>
      <%-include('./shop_template/imgCarousel.html') %>
      <h5 id="sell_price" class="border-bottom py-2">가격 :</h5>
      <div class="card my-3">
        <div class="card-body">
          <div
            id="sell_description"
            class="card-text"
            style="white-space: pre-line"
          ></div>
        </div>
      </div>
      <h5 class="border-bottom py-2"></h5>
      <div id="form-commentInfo">
        <div>댓글 <span id="comment-count"></span></div>
        <div class="input-group">
          <div class="form-floating w-50">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              style="height: 10rem"
              id="replyInput"
            ></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="replyButton"
          >
            등록
          </button>
        </div>
      </div>
      <h5 class="border-bottom py-2"></h5>
      <div class="my-2 w-50" id="comments"></div>
    </div>

    <%-include('../common/basicScript.html') %>
    <script src="/js/shop/shop.detail.js"></script>
    <script>
      redirectLoginForUnauthorization();
      const shopId = <%=shopId%>
      makeDetailShop(shopId)
      getComments(shopId)
      clickReplyPostButton(shopId)
    </script>
  </body>
</html>
